xkcdgag-crawler/target/
!xkcdgag-crawler/.mvn/wrapper/maven-wrapper.jar

application-mysql.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
xkcdgag-ng/dist
xkcdgag-ng/tmp
xkcdgag-ng/out-tsc

# dependencies
xkcdgag-ng/node_modules

# IDEs and editors
xkcdgag-ng/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
xkcdgag-ng/.sass-cache
xkcdgag-ng/connect.lock
xkcdgag-ng/coverage
xkcdgag-ng/libpeerconnection.log
npm-debug.log
testem.log
xkcdgag-ng/typings

# e2e
xkcdgag-ng/e2e/*.js
xkcdgag-ng/e2e/*.map

# System Files
.DS_Store
Thumbs.db
