.page-header {
	height: 48px;
	background-color: black;
	color: white;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
}

.page-header-title {
	display: block;
	width: 100px;
    height: 48px;
    float: left;
    margin: 0 0 0 5px;
    background: url(img/logo.png) 50% no-repeat;
    background-size: 100px 48px;
    cursor: pointer;
}

.page-content-wrap {
	width: 972px;
	margin: auto;
	padding-top: 48px;
}