<div class="gags-wrap">
  <ul class="gag-list">
    <li *ngFor='let gag of gags_data' class="gag-entry">
      <div *ngIf="gag.data">
        <a routerLink="/gag/{{gag.data.number}}"><h1 class="gag-entry-title">{{gag.data.title}}</h1></a>
        <a routerLink="/gag/{{gag.data.number}}"><img class="gag-entry-pic" alt="{{gag.data.alt}}" src="{{gag.data.imgUrl}}"></a>
        <a routerLink="/gag/{{gag.data.number}}"><img class="gag-entry-pic" alt="{{gag.data.alt}}" src="{{gag.data.imgUrl}}"></a>
      </div>
      <gag-stats [gag]="gag"></gag-stats>
      <div class="entry-gag-vote-buttons">
        <a (click)="gag.toggleLike()"><img [src]="'./assets/images/upvote.png'" class="gag-entry-vote-btn" alt="" ></a>
        <a (click)="gag.toggleDislike()"><img [src]="'./assets/images/downvote.png'" class="gag-entry-vote-btn" alt="" ></a>
      </div>
    </li>
  </ul>
</div>