.gag-detail-wrapper {
	padding-top: 20px;
	width: 640px;	
}

.gag-detail-title {
	font-size: 24px;
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.gag-detail-pic-warpper {
	margin-top: 20px;
}

.gag-detail-pic {
	width: 600px;
}

.comment-count-text {
    border-bottom: 1px solid #ddd;
}

.comment-count-text h3 {
	margin-bottom: 6px;
}

.comment-input {
	margin-top: 10px;
}

.comment-list {
	margin-top: 10px;
}

.comment-list-ul {
	list-style-type: none;
}